<div>
    <table class="table">
        <thead class="capital bold">
            <td> Lesson </td>
            <td> Start Lesson </td>
            <td> Performance </td>
        </thead>
        <tbody>
            <%= render @lessons %>
        </tbody>
    </table>
</div>
