<footer class="footer">
  <small>
    The E-learning system
    by Chivorn Kouch</a>
  </small>
  <% unless admin? %>
      <nav>
          <ul>
              <li><%= link_to "About",   about_path %></li>
              <li><%= link_to "Contact", contact_path %></li>
          </ul>
      </nav>
    <% end %>
</footer>
